html, body, .mdl-layout__container, .mdl-layout,
.menu-drawer, .menu-navigation *{
    background-color: #424242 !important;
    background-image: none !important;
    color: #dcdcdc !important;
}

.mdl-color--primary, .mdl-layout__header{
   background-color: #212121 !important;
}


.form-dialog, .mdl-data-table, .mdl-tabs__tab-bar, .mdl-tabs__tab{
    background-color: #3a3a3a !important;
    background-image: none !important;
    color: #dcdcdc !important;
}

.mdl-card, .md1-grid{
    color: #dcdcdc !important;
    background-image: none !important;
    background-color: #3a3a3a !important;
}

.mdl-list, .mdl-list__item, .mdl-list__item-text-body, .md1-cell, .mdl-textfield, .mdl-textfield__input, .mdl-textfield__label{
    color: #dcdcdc !important;
}