html, body{
    background-color: #202020 !important;
    background-image: none !important;
    color: #DCDCDC !important;
}

.card, .form-control, .dropdown-menu{
    background-color: #2d2d2d !important;
    background-image: none !important;
    color: #ffffff !important;
}

.card-primary{
    background-color: #3a3a3a !important;
    background-image: none !important;
}

.table td, .table thead th, ul li pre{
    color: #ffffff !important;
}

.dropdown-item{
    color: #b0b0b0;
}

.card-body>pre{
    background-color: #272822 !important;
    color: #ffffff !important;
}