html, body{
    background-color: #202020 !important;
    background-image: none !important;
    color: #DCDCDC !important;
}

.card{
    background-color: #2d2d2d !important;
    background-image: none !important;
    color: #DCDCDC !important;
}

.card-primary{
    background-color: #3a3a3a !important;
    background-image: none !important;
}

.table td, .table thead th{
    color: #DCDCDC !important;
}